<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weibo.project.hmhw.mapper.ModelDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.weibo.project.hmhw.model.ModelDetail">
        <id column="ID" property="id" />
        <result column="INTRODUCE" property="introduce" />
        <result column="PICTURE" property="picture" />
        <result column="RECIPE" property="recipe" />
        <result column="MODLE_ID" property="modleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, INTRODUCE AS introduce, PICTURE AS picture, RECIPE AS recipe, MODLE_ID AS modleId
    </sql>

</mapper>
